{% extends 'baseblog.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	<script src="/highcharts/code/highcharts.js" crossorigin="anonymous"></script>
{% endblock %}

{% block nav %}
		{{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid"> 
    <p>I've used high charts alot in the last 4 years charts, its  arobust well tried and tested system with a wide variety of charts. Its flexible and responsive.
    <br/>Heres a few  simple but naturally widely used ones with data coming from the controller (one data set which is transformed according to need in the controller)</p>    
	<b>This shows some examples of use of highcharts under their non-commercial license. Highsoft software product is not free for commercial use</b>	
	<br/>        
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-4">
	           <div id="chart1"></div>
            </div>
            <div class="col col-lg-4">
                <div id="chart2"></div>
            </div>
            <div class="col col-lg-4">
                <div id="chart3"></div>
            </div>           
        </div>
    </div>
</div>
	<script>
	Highcharts.chart('chart1', {   
    title: {
        text: 'Example line graph'
    },

    subtitle: {
        text: 'substitle if needed'
    },

    yAxis: {
        title: {
            text: 'Number of Employees'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2015
        }
    },

    series: [        
{% for data in lineseries %}
{
{% for key, datapart in data %}
    {% if key == 'name' %} name: 'Year {{ datapart|raw }}', {% endif %}                 
    {% if key == 'data' %} data: {{ datapart|raw }} {% endif %}                 
{% endfor %}   
},
{% endfor %}
],


    responsive: {
        rules: [{
            condition: {
                maxWidth: 200
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>

<script type="text/javascript">

Highcharts.chart('chart2', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Example bar chart'
    },
    subtitle: {
        text: 'subtitle'
    },
    xAxis: {        
        categories: {{ barcat|raw }},
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Population (millions)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' millions'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [
{% for data in barseries %}
{
{% for key, datapart in data %}
    {% if key == 'name' %} name: 'Year {{ datapart|raw }}', {% endif %}                 
    {% if key == 'data' %} data: {{ datapart|raw }} {% endif %}                 
{% endfor %}   
},
{% endfor %}
]
});
 </script>
    <script type="text/javascript">

// Build the chart
Highcharts.chart('chart3', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Example pie Chart'
    },
    tooltip: {
        pointFormat: '<b>{point.percentage:.2f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Cities',
        colorByPoint: true,
        data: [
{% for data in pieseries %}
{
{% for key, datapart in data %}
    {% if key == 'name' %} name: '{{ datapart|raw }}', {% endif %}                 
    {% if key == 'data' %} y: {{ datapart|raw }} {% endif %}                 
{% endfor %}   
},
{% endfor %}
        ]         
    }]
});
        </script>


{% endblock %}