{% extends 'baseblog.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	<script src="/highcharts/code/highcharts.js" crossorigin="anonymous"></script>
{% endblock %}

{% block nav %}
		{{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid">  
     {% for data in series %}
       {% for key, datapart in data %}
            {{ key }} {{ datapart|raw  }}
       {% endfor %}   
     {% endfor %}
	<b>This shows some examples of use of highcharts under their non-commercial license. Highsoft software product is not free for commercial use</b>	
	<br/>        
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-4">
	           <div id="chart1"></div>
            </div>
            <div class="col col-lg-4">
                <div id="chart2"></div>
            </div>
            <div class="col col-lg-4">
                <div id="chart3"></div>
            </div>           
        </div>
    </div>
</div>
	<script>
	Highcharts.chart('chart1', {   
    title: {
        text: 'Example line graph'
    },

    subtitle: {
        text: 'substitle if needed'
    },

    yAxis: {
        title: {
            text: 'Number of Employees'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2015
        }
    },

    series: [    
    {
        name: 'London',
        data: [43934, 52503, 57177, 69658]
    }, {
        name: 'New York',
        data: [24916, 24064, 29742, 29851]
    }, {
        name: 'Paris',
        data: [11744, 17722, 16005, 19771]
    }, {
        name: 'Berlin',
        data: [null, null, 7988, 12169]
    }, {
        name: 'Moscow',
        data: [12908, 5948, 8105, 11248]
    }],


    responsive: {
        rules: [{
            condition: {
                maxWidth: 200
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>

<script type="text/javascript">

Highcharts.chart('chart2', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Example bar chart'
    },
    subtitle: {
        text: 'subtitle'
    },
    xAxis: {        
        categories: {{ cat|raw }},
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Population (millions)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' millions'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Year 2015',
        data: [43934, 24916, 11744, null, 12908]
    }, {
        name: 'Year 2016',
        data: [52503, 24064, 17722, null, 5948]
    }, {
        name: 'Year 2017',
        data: [57177, 29742, 16005, 7988, 8105]
    }, {
        name: 'Year 2018',
        data: [69658, 29851, 19771, 12169, 11248]
    }]
});
 </script>
    <script type="text/javascript">

// Build the chart
Highcharts.chart('chart3', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Example pie Chart'
    },
    tooltip: {
        pointFormat: 'subtitle example'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'London',
            y: 61.41,
            sliced: true,
            selected: true
        }, {
            name: 'New York',
            y: 11.84
        }, {
            name: 'Paris',
             y: 10.85
        }, {
            name: 'Berlin',
            y: 4.67
        }, {
            name: 'Moscow',
            y: 4.18
        }]         
    }]
});
        </script>


{% endblock %}